span{
    margin-left: 5px;
}
ul{
    width: 1240px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.13);
    padding: 10px;
    list-style-type: none;
    
}

li{
    background: rgba(0, 255, 0, 0.315);
    margin-bottom: 1px;
    padding: 10px;
}

ol{
    background: rgba(0, 255, 0, 0.315);
    margin: 0;
}

a{
    text-decoration: none;
    font-size: 22px;
}

.country{
    background: teal;
    width: 200px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    font-size: 32px;
}